<script setup lang="ts">
import FancyButtonView from './FancyButtonView.vue';
import { mdiHeartOutline } from '@mdi/js';
import { mdiCursorDefaultClickOutline } from '@mdi/js';
</script>

<template>
  <v-container>
    <v-row>
      <v-col><FancyButtonView><v-icon :icon="mdiHeartOutline"></v-icon>Love Me
      <template v-slot:tail>Tail</template>
    </FancyButtonView></v-col>
      <v-col><FancyButtonView><v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>Click Me
        <template #tail>My Tail</template></FancyButtonView></v-col>
    </v-row>  
    </v-container>
</template>